.nawBar {
  display: flex;
  background-color: #303030;
  min-height: 95px;
  justify-content: space-around;
  align-items: center;
  
}

.navItem {
  background-color: #4d4c4c;
  padding: 20px 41px;
  border-radius: 15px;
}

.navLink {
  color: #fff;
}
