.footer {
  display: flex;
  grid-area: footer;
  background-color: #303030;
  min-height: 95px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  position: relative;
  z-index: 1000;
}
.team {
  color: #fff;
  margin-right: 30px;
}
.contact {
  color: #fff;
}
