.taskBox {
  background: linear-gradient(180deg, #000000 0%, #616161 100%);
  opacity: 0.9;
  position: fixed;
  z-index: 100000;
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputBox {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.title {
  color: #e9e9e9;
  font-size: 20px;
  margin-bottom: 20px;
}
.event {
  width: 30vw;
  height: 7vh;
  border-radius: 10px;
  margin-bottom: 10px;
}
.task {
  width: 30vw;
  height: 7vh;
  border-radius: 10px;
  margin-bottom: 10px;
}
.adres {
  width: 30vw;
  height: 7vh;
  border-radius: 10px;
  margin-bottom: 10px;
}
.date {
  display: flex;
  flex-direction: column;
  width: 30vw;
}
.dateBox {
  display: flex;
  margin-bottom: 10px;
}
.inputDate {
  padding: 9px;
  border-radius: 10px;
  margin-right: 65px;
}
.inputTime {
  display: flex;
  padding: 9px;
  border-radius: 10px;
}
.inputNameBox {
  margin-right: 34px;
}
.organizationBoxFirst {
  display: flex;
  margin-bottom: 24px;
}
.areaName {
  padding: 9px;
  border-radius: 10px;
}
.areaNumber {
  padding: 9px;
  border-radius: 10px;
}
.organizationBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.organizationBoxSecond {
  display: flex;
}
.inputOrganizationBox {
  margin-right: 34px;
}
.areaOrganization {
  padding: 9px;
  border-radius: 10px;
}
.areaMail {
  padding: 9px;
  border-radius: 10px;
}
.btnBox {
  display: flex;
  width: 100%;
  left: 0;
}
.areaBtn {
  display: flex;
  text-align: center;
  color: #515151;
  padding: 15px;
  background-color: #d8d8d8;
  border-radius: 15px;
  font-size: 30px;
  align-self: flex-end;
}
